.p-top {
}

// Custom styles for demo
:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
}

.swiper-gl-image {
  width: 100vw;
  height: 100svh;
  object-fit: cover;
}
